<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings><add name="backuprojEntities" connectionString="metadata=res://*/BackUPModel.csdl|res://*/BackUPModel.ssdl|res://*/BackUPModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=libu;password=libu123;persistsecurityinfo=True;database=backuproj&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>